@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style-type: disc; /* Ensure bullets are shown */
  margin-left: 1.5rem; /* Add left margin */
}

ul li {
  margin-bottom: 0.1rem; /* Add space between list items */
}
